[submodule "auto-save"]
	path = site-lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "awesome-tab"]
	path = site-lisp/extensions/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "awesome-tray"]
	path = site-lisp/extensions/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "company-mode"]
    path = site-lisp/extensions/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "dash"]
    path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "diff-hl"]
	path = site-lisp/extensions/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "exec-path-from-shell"]
	path = site-lisp/extensions/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "expand-region"]
	 path = site-lisp/extensions/expand-region
	 url = https://github.com/magnars/expand-region.el.git
[submodule "flycheck"]
	 path = site-lisp/extensions/flycheck
	 url = https://github.com/flycheck/flycheck.git
[submodule "flycheck-posframe"]
	 path = site-lisp/extensions/flycheck-posframe
	 url = https://github.com/alexmurray/flycheck-posframe.git
[submodule "goto-line-preview"]
	path = site-lisp/extensions/goto-line-preview
	url = https://github.com/jcs090218/goto-line-preview.git
[submodule "magit"]
	path = site-lisp/extensions/magit
	url = https://github.com/magit/magit
[submodule "smooth-scrolling"]
	 path = site-lisp/extensions/smooth-scrolling
	 url = https://github.com/aspiers/smooth-scrolling.git
[submodule "unicode-escape"]
	path = site-lisp/extensions/unicode-escape
	url = https://github.com/kosh04/unicode-escape.el.git
[submodule "lazycat-theme"]
	path = site-lisp/extensions/lazycat-theme
	url = https://github.com/manateelazycat/lazycat-theme.git
[submodule "vi-navigate"]
	path = site-lisp/extensions/vi-navigate
	url = https://github.com/manateelazycat/vi-navigate.git
[submodule "go-mode"]
	path = site-lisp/extensions/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "color-rg"]
	path = site-lisp/extensions/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "thing-edit"]
	path = site-lisp/extensions/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "lazy-search"]
	path = site-lisp/extensions/lazy-search
	url = https://github.com/manateelazycat/lazy-search.git
[submodule "lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "transient"]
	path = site-lisp/extensions/transient
	url = https://github.com/magit/transient.git
[submodule "with-editor"]
	path = site-lisp/extensions/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "symbol-overlay"]
	path = site-lisp/extensions/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "names"]
	path = site-lisp/extensions/names
	url = https://github.com/Malabarba/names.git
[submodule "company-tabnine"]
	path = site-lisp/extensions/company-tabnine
	url = https://github.com/TommyX12/company-tabnine.git
[submodule "posframe"]
	path = site-lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "benchmark-init"]
	path = site-lisp/extensions/benchmark-init
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "sly-el-indent"]
	path = site-lisp/extensions/sly-el-indent
	url = https://github.com/cireu/sly-el-indent.git
[submodule "yasnippet"]
	 path = site-lisp/extensions/yasnippet
	 url = https://github.com/joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	 path = site-lisp/extensions/yasnippet-snippets
	 url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "highlight-parentheses"]
	path = site-lisp/extensions/highlight-parentheses
	url = https://github.com/tsdh/highlight-parentheses.el.git
[submodule "php-mode"]
	path = site-lisp/extensions/php-mode
	url = https://github.com/emacs-php/php-mode.git
[submodule "modern-cpp-font-lock"]
	path = site-lisp/extensions/modern-cpp-font-lock
	url = https://github.com/ludwigpacifici/modern-cpp-font-lock.git
[submodule "ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "all-the-icons"]
	path = site-lisp/extensions/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "avy"]
	path = site-lisp/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "lua-mode"]
	path = site-lisp/extensions/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "counsel-etags"]
	path = site-lisp/extensions/counsel-etags
	url = https://github.com/redguardtoo/counsel-etags.git
[submodule "swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "markdown-mode"]
	path = site-lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "yasnippet-php-mode"]
	path = site-lisp/extensions/yasnippet-php-mode
	url = https://github.com/barendt/yasnippet-php-mode.git
[submodule "company-ctags"]
	path = site-lisp/extensions/company-ctags
	url = https://github.com/redguardtoo/company-ctags.git
[submodule "find-file-in-project"]
	path = site-lisp/extensions/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "ibuffer-vc"]
	path = site-lisp/extensions/ibuffer-vc
	url = https://github.com/purcell/ibuffer-vc.git
[submodule "gotest"]
	path = site-lisp/extensions/gotest
	url = https://github.com/nlamirault/gotest.el.git
[submodule "grip-mode"]
	path = site-lisp/extensions/grip-mode
	url = https://github.com/seagle0128/grip-mode.git
[submodule "emacs-libvterm"]
	path = site-lisp/extensions/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "multi-vterm"]
	path = site-lisp/extensions/multi-vterm
	url = https://github.com/suonlight/multi-vterm.git
[submodule "rust-mode"]
	path = site-lisp/extensions/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "flycheck-rust"]
	path = site-lisp/extensions/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
[submodule "js2-mode"]
	path = site-lisp/extensions/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "web-mode"]
	path = site-lisp/extensions/web-mode
	url = https://github.com/fxbois/web-mode.git